<div class="well table-well">
    <div class="table-responsive">
        <table id="realtime" class="table">
            <thead>
            <tr>
                <th>Platzierung</th>
                <th>Spieler</th>
                <th>Punktzahl</th>
                <th>Tordifferenz</th>
            </tr>
            </thead>
            <tbody>
            <tr style="display: none;">
                <td>stop</td>
                <td>stop</td>
                <td>stop</td>
                <td>stop</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>