@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
/* Allgemein */
html, body {
    height: 100%;
}
body {
    background-image: url("../Images/kicker.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.infopanel {
    height: 200px;
}

.padtop {
    padding-top: 30px;
}
a{
    color: black;
}
a:hover {
    text-decoration: none;
    color: dodgerblue;
}
a:active {
    outline: none;
    text-decoration: none;
}
.header {
    text-align: center;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif;
}
.formular {
    margin-right: 34px;
}

/* Spielernamen */

form > div {
    margin-bottom: 10px;
}

.spieler-btn {
    margin-left: 65px;
}

.name-label {
    margin-right: 20px;
}
/* Tabellen */
caption {
    font-family: 'Archivo Black', sans-serif;
}
.punktetabelle caption {
    font-size: 200%;
    text-align: center;
}

.score {
    width: 30px;
}
.season > tbody > tr > td {
    padding: 1px;
}

.table-hover>tbody>tr:hover{
    background-color: rgba(81, 229, 153, 0.7)
}
#history > tbody > tr > td {
    border-top: 1px solid #DDD;
}

/* Spieler 1-3 herausstechen lassen */
.auswertung tr:first-child{
    font-size: 140%;
}

.auswertung tr:nth-child(2){
    font-size: 120%;
}

.auswertung tr:nth-child(3){
    font-size: 110%;
}

.submitTabelle {
    width: 285px;
    margin: auto;
}

/* Auswertung */
.auswertung > thead > tr > th {
    text-align: center;
}
.center {
    text-align: center;
}
button {
    color: black;
}

a:hover button {
    color: #00652D;
}


/* Bootstrap Anpassungen */

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.well {
    background-color: rgba(238, 238, 238, 0.95);
}

.table-well {
    background-color: rgba(238, 238, 238, 0.8);
}

.table > tbody > tr > td {
    border-top: none;
}
/* Score mittig platzieren */
.table > thead > tr > th:nth-child(3) {
    text-align: center;
}

.table > thead > tr > th {
    border-top: none;
}

.table > tbody > tr > td {
    text-align: center;
}
.panel-body th {
    text-align: center;
}

/*Profilseite*/

.bordertop {
    border-top: 2px solid #F5F5F5;
}

